@{
	ViewBag.Title = "CouldNotBeAddedToVoyage";
}
<h2>
	Sorry...</h2>
Your cargo has been successfully added, but won't be shipped with the selected voyage
due to capacity. It will be shipped with the next voyage.<br />
<br />
Click @Html.ActionLink("here", "Index") to go back to the cargo overview.